.navigation {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;

  animation: navigationnn 1.5s ease-in-out 1;
}
@keyframes navigationnn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

.navigation :where(.logo) a {
  display: flex;
  align-items: center;
}
.navigation :where(.logo) span {
  font-variation-settings: "FILL" 1;
}
.navigation :where(.logo) p {
  font-weight: 900;
}

/* container */
.navigation :where(.container) {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.navigation :where(.container) .links {
  display: flex;
  align-items: center;

  background-color: lightgrey;
  padding: 0 1rem;
  border-radius: 2rem;
}
.navigation :where(.container) .links a {
  display: block;
  padding: 1rem;
  border-radius: 1rem 2rem;
  transition: all 0.3s;
}
.navigation :where(.container) .links a:hover {
  color: white;
  background-color: black;
}

.navigation :where(.container) .contact {
  background-color: lightgrey;
  padding: 0.25rem;
  padding-inline-start: 1rem;
  border-radius: 2rem;
}
.navigation :where(.container) .contact a {
  display: flex;
  align-items: center;
}

.navigation :where(.container) .contact a > span {
  background-color: black;
  aspect-ratio: 1/1;
  width: 50px;
  border-radius: 50%;
  justify-self: end;
  color: white;
}
